/Konzolos alkalmazások/Focistak/nbproject/private/
/Konzolos alkalmazások/Focistak/build/
/Konzolos alkalmazások/Dalida/nbproject/private/
/Konzolos alkalmazások/Dalida/build/
/Konzolos alkalmazások/Holimpia/nbproject/private/
/Konzolos alkalmazások/Holimpia/build/
/Konzolos alkalmazások/Holimpia/dist/
/Konzolos alkalmazások/Sulibuli/nbproject/private/
/Konzolos alkalmazások/Sulibuli/build/
/Konzolos alkalmazások/SleepingBeauty/nbproject/private/
/Konzolos alkalmazások/SleepingBeauty/build/
/Konzolos alkalmazások/Students/nbproject/private/
/Konzolos alkalmazások/Students/build/
/Konzolos alkalmazások/Students/dist/
/Konzolos alkalmazások/Musicians/nbproject/private/
/Konzolos alkalmazások/Musicians/build/
/Konzolos alkalmazások/Happiness/nbproject/private/
/Konzolos alkalmazások/Happiness/build/
/Konzolos alkalmazások/Happiness/dist/
/Konzolos alkalmazások/StarNews/nbproject/private/
/Konzolos alkalmazások/StarNews/build/
/Konzolos alkalmazások/StarNews/dist/
/Konzolos alkalmazások/DependencyTest/nbproject/private/
/Konzolos alkalmazások/DependencyTest/build/
/Konzolos alkalmazások/DependencyTest/dist/
/Konzolos alkalmazások/Use_Hash_Equal/nbproject/private/
/Konzolos alkalmazások/Use_Hash_Equal/build/
/Konzolos alkalmazások/Use_Hash_Equal/dist/
/Konzolos alkalmazások/BookSore/nbproject/private/
/Konzolos alkalmazások/BookSore/build/
/Konzolos alkalmazások/BookSore/dist/
/Konzolos alkalmazások/Foci_EB_simulation1/nbproject/private/
/JDBC alapok/Foci_EB_simulation1/build/
/JDBC alapok/MediaEmpire/nbproject/private/
/JDBC alapok/MediaEmpire/build/
/Swing alkalmazások/Events/build/
/Swing alkalmazások/Events/dist/
/Swing alkalmazások/EventsV2/nbproject/private/
/Swing alkalmazások/EventsV2/dist/
/Swing alkalmazások/EventsV2/build/
/Swing alkalmazások/FOCI_EB_simulation2/nbproject/private/
/Swing alkalmazások/FOCI_EB_simulation2/dist/
/Swing alkalmazások/FOCI_EB_simulation2/build/
/Swing alkalmazások/FOCI_EB_simulation3/nbproject/private/
/Swing alkalmazások/FOCI_EB_simulation3/build/
/Swing alkalmazások/FOCI_EB_simulation3/dist/
/Swing alkalmazások/Jubilee650/nbproject/private/
/Swing alkalmazások/Jubilee650/build/
/Swing alkalmazások/Jubilee650/dist/
/Swing alkalmazások/FreshmanBall/nbproject/private/
/Swing alkalmazások/FreshmanBall/dist/
/Swing alkalmazások/FreshmanBall/build/
/Swing alkalmazások/Mobilphonia/nbproject/private/
/Swing alkalmazások/Mobilphonia/build/
/Swing alkalmazások/Mobilphonia/dist/
/Swing alkalmazások/Competition/nbproject/private/
/Swing alkalmazások/Competition/build/
/Swing alkalmazások/Competition/dist/
/Swing alkalmazások/BGates60/nbproject/private/
/Swing alkalmazások/BGates60/dist/
/Swing alkalmazások/BGates60/build/
/Swing alkalmazások/StanfordExperiment/nbproject/private/
/Swing alkalmazások/StanfordExperiment/build/
/Swing alkalmazások/StanfordExperiment/dist/
/Swing alkalmazások/ALibrary/nbproject/private/
/Swing alkalmazások/ALibrary/dist/
/Swing alkalmazások/ALibrary/build/
/Swing alkalmazások/Tavern/nbproject/private/
/Swing alkalmazások/Tavern/dist/
/Swing alkalmazások/Tavern/build/
/Swing alkalmazások/Abc&Locale/nbproject/private/
/Swing alkalmazások/Abc&Locale/build/
/Swing alkalmazások/Abc&Locale/dist/
/Swing alkalmazások/FavoriteBook/nbproject/private/
/Swing alkalmazások/AFavoriteBook/nbproject/private/
/Swing alkalmazások/AFavoriteBook/dist/
/Swing alkalmazások/AFavoriteBook/build/
/Swing alkalmazások/MediaEmpire2/nbproject/private/
/Swing alkalmazások/MediaEmpire2/build/
/Swing alkalmazások/MediaEmpire2/dist/
/Swing alkalmazások/aGreatLibrary/nbproject/private/
/Swing alkalmazások/aGreatLibrary/build/
/Swing alkalmazások/aGreatLibrary/dist/
/Swing alkalmazások/AFavoriteBook_/build/
/Swing alkalmazások/AFavoriteBook_/dist/
/Swing alkalmazások/AFavoriteBook_/nbproject/private/
/Maven/Halowien_maven/target/
/Szálkezelés/Clock/nbproject/private/
/Szálkezelés/Clock/dist/
/Szálkezelés/Clock 4/build/
/Szálkezelés/Clock 4/dist/
/Szálkezelés/Clock 4/nbproject/private/
/Szálkezelés/KochSnowFlake/nbproject/private/
/Szálkezelés/KochSnowFlake/build/
/Szálkezelés/KochSnowFlake/dist/
/Szálkezelés/Mandelbrot/nbproject/private/
/Szálkezelés/Mandelbrot/build/